">
                <li class="header__li"><a href="/" class="header__link header-Shop">Hjem</a></li>
                <li class="header__li"><a href="/OmOs" class="header__link header-OmOs">Om os</a></li>
                <li class="header__li"><a href="/Kunstnere" class="header__link header-Kunstnere">Kunstnere</a></li>
                <li class="header__li"><a href="/Kontakt" class="header__link header-Kontakt">Kontakt</a></li>
            </ul> 
        </nav>
    </div>
</header>

<script src="/assets/javaScript/header.js"></script>