<header class="header">
    <div class="header__wrapper">
        <div class="header__logo"><a href="/"><img src="/assets/images/2ArviSVG.svg" class="header__logo-img"></img></a></div>
        <div class="header__utility">
            <span class="header__size">&#9776;</span>
        </div>
        <div class="header__burger header__closed">
            <ul class="header__burger__ul">
                <div class="header__shutdown">X</div>
                <li><a href="/" class="header__burger__link" id="burger-Hjem">Hjem</a></li>
                <li><a href="/vvs" class="header__burger__link" id="burger-Erhverv">VVS</a></li>
                <li><a href="/entreprise" class="header__burger__link" id="burger-Privat">Entreprise</a></li>
                <li><a href="/priser" class="header__burger__link" id="burger-Certifikater">Priser</a></li>
                <li><a href="/kontakt" class="header__burger__link" id="burger-Kontakt">Kontakt</a></li>
                <li><a href="/tilbud" class="header__burger__link" id="burger-Kontakt">Find pris</a></li>
            </ul>
        </div>
        <nav class="header__nav">
             <ul class="header__linklist" id="